:root {
    --bg-color: #e9f2fa;
    --white-color: #ffffff;
    --black-color: #111111;
    --blue-primary: #478ac9;
    --blue-secondary: #29cfe6;
    --blue-button: #387cbd;
    --text-secodary: #4c7397;
}

@font-face {
    font-family: 'Poppins-bold';
    src: url('../fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins-semibold';
    src: url('../fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'Poppins-regular';
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-light';
    src: url('../fonts/Poppins-Light.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Poppins-regular', sans-serif;
    background-color: var(--bg-color);
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 15em;
    background-color: transparent;
    flex-wrap: wrap;
    z-index: 20;
}

.menu {
    display: none;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}

header nav ul li a {
    font-family: "Poppins-semibold";
    text-decoration: none;
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 14px;
}

.brand {
    font-family: "Poppins-light";
    font-size: 30px;
    color: var(--white-color);
}

main {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hero {
    background-image: url("../images/hero.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding: 0 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text {
    max-width: 35%;
    color: var(--white-color);
}

.hero-text h1 {
    font-size: 72px;
    font-family: 'Poppins-semibold';
    margin-bottom: 0.4em;
}

.hero-text p {
    text-align: left;
    font-size: 18px;
    margin-bottom: 1.5em;
}

.hero-text button {
    padding: 1em 3em;
    background-image: linear-gradient(var(--blue-primary), var(--blue-secondary));
    font-family: 'Poppins-semibold';
    border-radius: 10px;
    color: var(--white-color);
    border: none;
    font-size: 16px;
}

.most-search {
    padding: 4em 15em;
}

.most-search h1 {
    text-align: center;
    font-size: 36px;
    color: var(--blue-primary);
    font-family: 'Poppins-light';
    margin-bottom: 0.3em;
}

.most-search h4 {
    font-style: italic;
    color: var(--text-secodary);
    font-family: "Poppins-light";
    text-align: center;
    font-size: 18px;
}

.list {
    padding-top: 5em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 2em;
}

.card {
    background-color: var(--white-color);
    width: 330px;
    height: 350px;
}

.img-container {
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.text-container {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 1em;
    gap: 1em;
    color: var(--black-color);
}

.card-title {
    font-size: 19px;
    font-style: italic;
}

.img-container img {
    width: 100%;
    min-height: 100%;
}

.parcourir {
    width: 100%;
    background-color: var(--white-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5em 15em;
}

.activite {
    width: 65%;
}

.activite h3 {
    font-family: 'Poppins-light';
    font-size: 28px;
    margin-bottom: 1em;
}

.link-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.5em 1em 1em 0;
}

.activite ul {
    list-style: none;
}

.activite ul li {
    margin-bottom: 1.2em;
}

.activite ul li a {
    text-decoration: none;
    font-size: 18px;
    color: var(--text-secodary);
}

.bulletin {
    width: 35%;
    padding: 0 1em;
}

.bulletin h3 {
    font-size: 28px;
    font-family: 'Poppins-light';
    margin-bottom: 1em;
}

.bulletin p {
    font-size: 18px;
    color:#838383e4;
}

.bulletin-form {
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
}

.bulletin-form input {
    padding: 0.8em;
    background-color: #e9e9e9e4;
    color: var(--black-color);
    width: 100%;
    max-width: 60%;
    border: none;
    border-radius: 10px;
}

.bulletin-form button {
    border: none;
    background-color: var(--blue-button);
    color: var(--white-color);
    padding: 0.8em 2em;
}

.social-list {
    display: flex;
    gap: 1em; 
}

.publication {
    background-image: url("../images/pub.jpg");
    background-size: cover;
}

.publication .container {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 12em 15em 5em 15em;
    width: 100%;
    height: 100%;
    background-color: #00000074;
}

.pub-text {
    max-width: 65%;
    text-align: right;
    color: var(--white-color);
}

.pub-text h3 {
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 0.5em;
}

.pub-text p {
    font-size: 20px;
    margin-bottom: 1.5em;
}

.pub-text button {
    border: 3px solid var(--white-color);
    color: var(--white-color);
    padding: 0.8em 2em;
    background-color: transparent;
    font-size: 18px;
}