@media screen and (max-width: 600px) {
    header {
        padding: 1em 4em;
    }

    header nav {
        display: none;
    }

    .menu {
        display: block;
        font-size: 40px;
        background-color: transparent;
        border: none;
    }

    .brand {
        font-size: 26px;
    }

    .hero {
        padding: 0 4em;
    }

    .hero-text {
        max-width: 100%;
        text-align: center;
    }

    .hero-text p {
        text-align: center;
    }

    .hero-text h1 {
        font-size: 60px;
        font-weight: 300;
        font-family: "Poppins-light";
    }

    .most-search {
        padding: 4em;
    }

    .most-search h1 {
        font-size: 28px;
    }

    .most-search h4 {
        font-size: 14px;
    }

    .list {
        padding-top: 3em;
        justify-content: center;
        align-items: center;
    }

    .parcourir {
        padding: 3em 4em;
        flex-direction: column;
    }

    .activite {
        width: 100%;
    }

    .bulletin {
        width: 100%;
        padding: 0;
    }

    .bulletin-form {
        flex-direction: column;
        gap: 1em;
    }

    .bulletin-form input {
    max-width: 100%;
    }

    .publication .container {
        padding: 4em;
    }

    .pub-text {
        max-width: 100%;
    }

    .pub-text h3 {
        font-size: 28px;
    }

    .pub-text p {
        font-size: 16px;
    }
}